{% comment %}
    Create new product form and assign specific product for new product template. 
    Enter custom code block within the product form, one line about button type=submit.
    Replace name-of-property with name. 
{% endcomment %}

<!-- custom code block -->
<p class="line-item-property__field">
  <label for="name-of-property">Name of Property</label>
  <input required class="required" id="name-of-property" type="text" name="properties[Name of Property]">
</p>
<!-- end custom code block -->
